.DS_Store
*.sublime-project
*.sublime-workspace
dump
settings.json
settings.prod.json

node_modules/

# ignore npm packages, let meteor add them
packages/npm-container/
packages/**/.npm/

.idea/
*.iml
