<template name="_footer">
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <h3 class="white-text">Context.io</h3>

                    <p class="grey-text text-lighten-4">
                        Our worms are alive thanks to Context.io api.
                    </p>
                </div>
                <div class="col l4 s12">
                    <h3 class="white-text">Contribute</h3>

                    <p class="grey-text text-lighten-4">
                        Fork this project on github and bring your own worms for supper.
                    </p>
                </div>
                <div class="col l4 s12">
                    <h3 class="white-text">Share</h3>

                    <p class="grey-text text-lighten-4">
                        Crawl all the emails! Give some worm love to your friends and family.
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; Copyright Robert Peralta
            </div>
        </div>
    </footer>
</template>
