<template name="_footer">
    <footer class="page-footer light-green darken-2">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <h3 class="white-text">Context.io</h3>

                    <p class="grey-text text-lighten-4">
                        Our worms are alive thanks to Context.io api.
                    </p>
                </div>
                <div class="col l4 s12">
                    <h3 class="white-text">Contribute</h3>

                    <p class="grey-text text-lighten-4 white-links">
                        Fork this project on <a href="http://github.com/rapito/picture-worm">github</a> and bring your own worms for supper.
                    </p>
                </div>
                <div class="col l4 s12">
                    <h3 class="white-text">Share</h3>

                    <p class="grey-text text-lighten-4">
                        Crawl all the emails! Give some worm love to your friends and family.
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container white-links">
                &copy; Copyright <a href="http://github.com/rapito" target="_blank">Robert Peralta</a>
            </div>
        </div>
    </footer>
</template>
