.loading {
  padding-top: 100px;
}

nav {
  margin-bottom: 24px;
}

ul.side-nav li a {
  line-height: 44px;
  padding: 24px;
  display: block;
}

ul.side-nav li {
  float: none;
}

h3 {
  font-size: 1.97rem;
  line-height: 2.212rem;
}

//Image card dashboard styles

.card .card-image {
  height: 230px;
  overflow: hidden;
  cursor: zoom-in;
}

.card .card-content {
  height: 60px;
  padding: 10px;
}

.card .card-image img {
  height: 100%;
  width: auto;
}

.hidden {
  display: none;
}

.hidden-card-image
{
  position: fixed;
  left: 9999px;
}