<template name="tos">
    <div class="template-tos">
        <h2>Welcome to {{appTitle}}</h2>

        <div class="card-panel light-blue darken-3 white-text">
            <p>
                {{appDescription}}
            </p>

            <p>
                Sign up and start crawling into your email.
            </p>

            <p>
                <h3>How it works</h3>
                <ol>
                    <li>Sign up</li>
                    <li>Go to your Dashboard</li>
                    <li>Add a Mailbox</li>
                    <li>Tinker with the filters and Submit the Form</li>
                </ol>
            </p>

        </div>
    </div>
</template>
