<template name="tos">
    <div class="template-tos">
        <h2>Terms of Service ("Terms")</h2>

        <div class="card-panel light-blue darken-3 white-text">

            <p>Last updated: August 20, 2015</p>

            <p>Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the http://pictureworm.meteor.com/ website (the "Service") operated by Picture Worm ("us", "we", or "our").</p>

            <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

            <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>

            <p><strong>Accounts</strong></p>

            <p>When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>

            <p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>

            <p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>

            <p><strong>Links To Other Web Sites</strong></p>

            <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Picture Worm.</p>

            <p>Picture Worm has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Picture Worm shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>

            <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>

            <p><strong>Termination</strong></p>

            <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

            <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

            <p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

            <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>

            <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

            <p><strong>Governing Law</strong></p>

            <p>These Terms shall be governed and construed in accordance with the laws of Dominican Republic, without regard to its conflict of law provisions.</p>

            <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>

            <p><strong>Warranty</strong></p>

            <p>We endeavor to provide the best service we can, but you understand and agree that THE PICTURE WORM SERVICE IS PROVIDED "AS IS", WITHOUT EXPRESS OR IMPLIED WARRANTY OR CONDITION OF ANY KIND. YOU USE THE PICTURE WORM SERVICE AT YOUR OWN RISK. PICTURE WORM DISCLAIMS ANY WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT.</p>

            <p>In addition, Picture Worm does not warrant, endorse, guarantee or assume responsibility for any Third Party Applications, Third Party Application content, User Content, or any other product or service advertised or offered by a third party on or through the Picture Worm Service or any hyperlinked website, or featured in any banner or other advertising. You understand and agree that Picture Worm is not responsible or liable for any transaction between you and third-party providers of Third Party Applications or products or services advertised on or through the Picture Worm Service. As with any purchase of a product or service through any medium or in any environment, you should use your judgment and exercise caution where appropriate. No advice or information whether oral or in writing obtained by you from Picture Worm shall create any warranty on behalf of Picture Worm in this regard. Some aspects of this section may not apply in some jurisdictions.</p>

            <p><strong>Limitation</strong></p>

            <p>You agree that, to the extent permitted by applicable law, your sole and exclusive remedy for any problems or dissatisfaction with the Picture Worm Service, the Third Party Applications or the Third Party Application content is to uninstall any Picture Worm software and to stop using the Picture Worm Service, the Third Party Applications or the Third Party Application content.</p>

            <p>TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL PICTURE WORM, ITS OFFICERS, SHAREHOLDERS, EMPLOYEES, AGENTS, DIRECTORS, SUBSIDIARIES, AFFILIATES, SUCCESSORS, ASSIGNS, SUPPLIERS OR LICENSORS BE LIABLE FOR (i) ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL (INCLUDING LOSS OF USE, DATA, BUSINESS, OR PROFITS) DAMAGES, ARISING OUT OF THE USE OR INABILITY TO USE THE PICTURE WORM SERVICE, THIRD PARTY APPLICATIONS OR THIRD PARTY APPLICATION CONTENT, REGARDLESS OF LEGAL THEORY, WITHOUT REGARD TO WHETHER PICTURE WORM HAS BEEN WARNED OF THE POSSIBILITY OF THOSE DAMAGES, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE; (ii) AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE PICTURE WORM SERVICE, THIRD PARTY APPLICATIONS OR THIRD PARTY APPLICATION CONTENT MORE THAN THE AMOUNTS PAID BY YOU TO PICTURE WORM DURING THE PRIOR THREE MONTHS IN QUESTION.</p>

            <p>Nothing in these Agreements removes or limits Picture Worm’s liability for fraud, fraudulent misrepresentation, death or personal injury caused by its negligence. Some aspects of this section may not apply in some jurisdictions.</p>

            <p><strong>Changes</strong></p>

            <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 60 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

            <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>

            <p>Our Terms of Service agreement was created by TermsFeed.</p>

        </div>
    </div>
</template>
