<template name="home">
    <div class="template-home">
        <h2>Welcome to {{appTitle}}</h2>

        <div class="card-panel light-blue darken-3 white-text">
            <p>
                {{appDescription}}
            </p>

            <p>
                Sign up and start crawling into your email.
            </p>

            <p>

            <h3>How it works</h3>
            <ol>
                <li>Sign up</li>
                <li>Go to your Dashboard</li>
                <li>Add a Mailbox</li>
                <li>Tinker with the filters and Submit the Form</li>
            </ol>
            </p>

            <p>

            <h3>Privacy Questions</h3>
            <ol>
                <li>
                    <p><strong>Do you read my emails/pictures?</strong></p>
                    <p>
                        No we don't. Seriously.
                    </p>
                </li>
                <li>
                    <p><strong>Do you share/sell my data?</strong></p>
                    <p>
                        We don't use your data at all, only you use it.
                    </p>
                </li>

                <li>
                    <p><strong>Is this app secure?</strong></p>
                    <p>
                        It's just a proof of concept, so you should try using only accounts that are not important to you.
                        We have no support and will not grant any.
                    </p>
                </li>

            </ol>
            </p>

        </div>
    </div>
</template>
