<template name="home">
    <div class="template-home">
        <h2>Welcome to {{appTitle}}</h2>

        <div class="card-panel light-blue darken-3 white-text">
            <p>
                {{appDescription}}
            </p>

            <p>
                Sign up and start crawling into your email.
            </p>

            <p>
                <h3>How it works</h3>
                <ol>
                    <li>Sign up</li>
                    <li>Go to your Dashboard</li>
                    <li>Add an email Account worm</li>
                    <li>Go to the newly created Worm and let the crawling begin!</li>
                </ol>
            </p>

            {{> connectMailboxButton account='5557270c14626f660c8b463a' classes='btn btn-info' label='Test Button'}}
            {{> connectMailboxButton}}

        </div>
    </div>
</template>
