<template name="dashboard">
    <div class="template-dashboard">
        {{> connectMailboxButton account=accountId classes=classesMailboxAdd callbackUrl=callbackUrl label=''  }}

        <h1>Dashboard</h1>

        <ul class="collection">
            {{#each mailboxes}}
                <li class="collection-item">
                    <input type="checkbox" id="{{label}}"/>
                    <label for="{{label}}">{{username}}</label>
                </li>
            {{/each}}
        </ul>

    </div>
</template>
