<template name="filterMailboxesForm">
    {{#autoForm schema=mailboxesFilterSchema id="filterMailboxesForm"}}
        <div class="card blue col s12 m8 white-text">
            <h5>Filters</h5>
        </div>
        <div class="card col s12 m8">
            <div class="row">
                <div class="input-field col s4">
                    {{> afQuickField name='email' }}
                </div>
                <div class="input-field col s4">
                    {{> afQuickField name='date_after' pickadateOptions=pickadateOptions }}
                </div>
                <div class="input-field col s4">
                    {{> afQuickField name='date_before' pickadateOptions=pickadateOptions }}
                </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn right">filter</button>
        </div>
    {{/autoForm}}

</template>
