<template name="filterMailboxesForm">
    <!-- Teal page content  -->
    <h5>Filters</h5>

    {{#autoForm schema=mailboxesFilterSchema id="filterMailboxesForm"}}
        <div class="row">
            <!--{{> afFieldInput name="email" }}-->

            <div class="input-field col s3">
                <i class="mdi-communication-email prefix"></i>
                <input id="icon_prefix" name='email' data-schema-key="email" type="text" class="white-text">
                <label class="white-text" for="icon_prefix">email</label>
            </div>
            <button type="submit" class="btn btn-primary">filter</button>
        </div>
    {{/autoForm}}
</template>
