<template name="imgCard">
    <div class="col s12 m4">
        <div class="card" id="img-card-{{file_id}}">
            <div class="card-image center-align">
                <img data-img-id="{{file_id}}" class="img-clickable" data-caption="{{file_name}} - {{subject}}">
                <span class="card-title truncate">{{file_name}}</span>
            </div>
            {{> spinner}}
            <div class="card-content">
                <div class="s12">
                    <b class="s6 truncate">{{subject}}</b>
                    <abbr class="s6 right" title="{{file_name}}" data-livestamp="{{date_received}}"></abbr>
                </div>
                <div class="s12">
                    <a href="#modal-email" class="mail-trigger"><i class="mdi-content-mail"></i></a>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="spinner">
    <div id="spinner-{{file_id}}" class="progress">
        <div class="indeterminate"></div>
    </div>
</template>